<iframe
  src='https://carbon.shuai.dev/embed?bg=rgba(74,144,226,0)&t=blackboard&wt=none&l={{ .Get "lang" | default "auto" }}&ds=false&dsyoff=60px&dsblur=68px&wc=true&wa=true&pv=5px&ph=5px&ln=false&fl=1&fm=Fira+Code&fs={{ .Get "fontSize" | default "16px" }}&lh=152%25&si=false&es=2x&wm=false&code={{ .Inner }}'
  style='width: 100%; border:0; transform: scale(1); overflow:hidden;'
  onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' 
  sandbox="allow-scripts allow-same-origin">
</iframe>